
target/
dbt_packages/
logs/
elementary/
elementary_reports/
!elementary_reports/.gitkeep
!patches/elementary/
!patches/elementary/column_monitoring_query.sql
edr_target/dbt.log
edr_target/edr.log
edr_target/elementary_output.json
edr_target/elementary_report.html
.user_id
